.jira-custo-root.blocked {
  background-color: #FFA0A0;
}
.jira-custo-root {
  position: absolute;
  bottom: 0px;
  right: 0px;
  background-color: lightblue;
  padding: 3px 0;
  border-radius: 3px 0 3px 0;
  text-align: right;
  max-width: calc(100% - 60px);
  font-size: 12px;
  z-index: 9;
}

.jira-custo-frontend-points,
.jira-custo-wpf-points,
.jira-custo-backend-points,
.jira-custo-opened,
.jira-custo-merged,
.jira-custo-closed {
  padding: 0 3px;
}

.jira-custo-reload-button {
  background-color: #f0f0f0;
  margin-left: 15px;
  height: 30px;
  font-size: 14px;
  border-radius: 5px;
}